.row-user-profile-upper{
display: flex;
height: 100%;
padding-top: 200px;
padding-bottom: 20px;
}
.user-profile-img{
  width: 213px;
  height: 213px;
}
.row-user-profile-lower{
// display: none !important;
// height: 100%;
// padding-top: 200px;
// padding-bottom: 200px;
}